<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">

<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0", maximum-scale=1.0, minimum-scale=1.0" />
<meta charset="euc-kr" />
<title>[경제신문읽는법] - 기초용어부터 주식투자방법까지...</title>
<meta name="keywords" content="주식투자">
<style type="text/css">

<!--

   A:link    { text-decoration:none;   color:black}

   A:visited { text-decoration:none;   color:pupple}

   A:hover   { text-decoration:underline;  Color:blue}

   A:active  { text-decoration:none; Color:black}

  

-->

</style>
<link rel="stylesheet" href="hyun.css" type="text/css">
</head>

<body bgcolor="white" text="black" link="blue" vlink="purple" alink="purple" leftMargin=0 
topMargin=0 marginheight="0" marginwidth="0">

<table border="0" cellpadding="0" cellspacing="0" width="755">
    <tr>
        
    <td width="964"><!-- #BeginLibraryItem "/Library/TOP_LOGO.LBI" -->
<table border="0" cellpadding="0" width="100%">
  <tr>
                    <td width="369">
					<a href="http://ecodemy.cafe24.com/main.html" onfocus="this.blur()"><img src="logo.gif"
                         width="270" height="59" border="0"></a> 
    </td>
                    
    <td width="369" valign="top" align="right">
    </td>
                </tr>
            </table><!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/mebu.lbi" --><table width="780" border="0" cellpadding="0" cellspacing="0" height="26">
  <tr> 

    <td height="31"> <img src="top_menu.jpg" width="780" height="31"
 border="0" usemap="#ImageMap1"> 
      <map name="ImageMap1"> 
        <area shape="rect" coords="9,0,51,30" href="m_see.html" onfocus="this.blur()">
        <area shape="rect" coords="61,1,101,30" href="m_situ.html" onfocus="this.blur()">
        <area shape="rect" coords="114,2,155,30" href="m_price.html" onfocus="this.blur()">
        <area shape="rect" coords="166,-1,212,30" href="m_mone.html" onfocus="this.blur()">
        <area shape="rect" coords="220,1,258,30" href="m_forex.html" onfocus="this.blur()">
        <area shape="rect" coords="275,0,345,30" href="m_inter.html" onfocus="this.blur()">
        <area shape="rect" coords="361,1,429,30" href="m_goven.html" onfocus="this.blur()">
        <area shape="rect" coords="445,-11,543,30" href="m_monet.html" onfocus="this.blur()">
        <area shape="rect" coords="550, 2, 596, 30" href="m_stock.html" onfocus="this.blur()">
<area shape="rect" coords="604, 2, 650, 30" href="m_fund.html" onfocus="this.blur()">
        <area shape="rect" coords="659,2,767,30" href="m_indicators.html" onfocus="this.blur()">
</map>
</td>

  </tr>
</table><!-- #EndLibraryItem --><table border="0" cellpadding="0" cellspacing="0" width="755" height="5">
                <tr>
                    <td width="745" height="5"></td>
                </tr>
            </table>
            <div align="right">
        <table border="0" cellpadding="0" cellspacing="0"
             width="100%">
          <tr> 
            <td width="119" valign="top" align="left"> 
              <div align="right"></div>
              <div align="right"> <!-- #BeginLibraryItem "/Library/left.lbi" --><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top"   height="354"  align="left" ><table border="0" cellpadding="0" cellspacing="0" width="120">
<form action="/_search.php" method="get" id="os_search">
    <tr>
        <td width="964">


        <table border=0 cellpadding="0" cellspacing="0"
             width="120">
        
                                  <td width="112" align="center"> 
                                    
                    <div align="left"><img src="left-s1.gif" width="130" height="23"></div> 
                  </td>
             
                <tr>
                    
            <td  height="13"> 
              <div align="center">
                 <input type="text"class="text_form" name="q" size="15"> 
              </div>
            </td>
			</tr>
			<tr>
			<td height=3></td>
           
            </table>    
                              <div align="right"></div>
                            </td>
    </tr></form>
</table>

     
            <table cellspacing=0 cellpadding=0 width="64%">
        <tbody> 
        <tr> 
          <td height="27" valign="bottom"> 
            <img src="left-s5.gif" width="130" height="23">
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_see.html"><font color="black" face=굴림>경제상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_situ.html"><font color="black" face=굴림>경기상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_price.html"><font color="black" face=굴림>물가상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_mone.html"><font 
                        color=black face=굴림>금리상식</font></a></span> </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_forex.html"><font color="black" face=굴림>환율상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_inter.html"><font color="black" face=굴림>세계경제상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <a href="m_goven.html"><img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><font color="black" face=굴림>경제정책상식</font></span></a> 
          </td>
        </tr>
		  <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_monet.html"><font color="black" face=굴림>재테크상식</font></a></span></td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_stock.html"><font color="black" face=굴림>주식상식</font></a></span> 
          </td>
        </tr>
        		 <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_fund.html"><font color="black" face=굴림>펀드상식</font></a></span> 
          </td>
        </tr>
		 <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_indicators.html"><font color="black" face=굴림>최근경제지표</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19>&nbsp; </td>
        </tbody> 
      </table>
                    </td>
                  </tr>
                </table><!-- #EndLibraryItem --></div>
            </td>
            <td valign="top">
              <table border="0" cellpadding="0"
                         cellspacing="0" width="100%">
                <tr> 
                  <td width="9"> 
                    <p align="left">&nbsp; 
                  </td>
                  <td align="left"> <font size="5"  color="#595A5B">■ 기초지식</font>
<p align="left" class="text_menu">
					<p>
                    <!-- #BeginLibraryItem "/Library/adsence-160.lbi" --><div style="margin-top:0px; padding-left:5px; float:right; width:160px; position: static;"> 
</div><!-- #EndLibraryItem --> 
                    <p align="left" class="text_menu"><span class="small">[증권]<br>
                      </span> <span class="text_menu"><a href="w1-1.html">증권</a> 
                      : </span><span class="text_menu"><a href="uga.html">유가증권</a>,</span><span class="text_menu"> 
                      <a href="stock.html"> 주식</a> (<a href="stocspec.html">주식의 
                      종류</a>, <a href="ju.html">주식을 세는 단위 주</a>), <a href="bond.html">채권</a> 
                      </span><br>
                      <br>
                      <span class="small">[주주의 권리와 책임]</span> <span class="text_menu"><a href="juju.html"><br>
                      주주</a>, <a href="dividend.html">배당</a> (<a href="dividend2.html">주식배당</a>), 
                      <a href="vote.html">투표권</a>, <a href="demand.html">잔여재산청구권</a><br>
                      <a href="w12-11.html">주주의 책임</a><br>
                      </span> <br>
                      <span class="small">[주식의 종류] </span> <span class="text_menu"><br>
                      <a href="skind.html">보통주 · 우선주 · 신형우선주 · 후배주</a></span>
                    <p align="left" class="text_menu"><span class="small">[주식투자]<br>
                      </span> <span class="text_menu"><a href="stockinvest.html">주가와 
                      주가의 결정요인</a></span>, <span class="text_menu"><a href="whatisst.html">주식투자방법</a></span> 
                    <p><font size="5"  color="#595A5B">■ 주식매매</font></p>
                    <p align="left" class="text_menu"><span class="small">[계좌개설]</span><a href="w1-8.html"><br>
                      계좌계설</a> : <a href="w1-83.html">위탁계좌</a>, <a href="w1-84.html"> 
                      위탁수수료</a>, <a href="w1-82.html">위탁증거금</a><br>
                      <br>
                      <span class="small">[주식시세표 보기]</span> <span class="text_menu"><a href="w1-10.html">주식시세표보기</a></span>, 
                      <span class="text_menu"><a href="w12-7.html">액면가</a></span>, 
                      <span class="text_menu"> <a href="w1-23.html">이상급등종목</a>, 
                      <a href="w12-4.html">관리종목</a> <a href="w12-5.html"><br>
                      권리락</a>, <a href="w12-8.html">배당</a>, <a href="w12-9.html">배당기준일</a></span>, 
                      <span class="text_menu"><a href="w12-91.html">배당락</a></span>, 
                      <span class="text_menu"><a href="w12-92.html">배당락주가</a></span><br>
                      <span class="text_menu"><a href="w1-21.html">보합세</a>, <a href="w1-22.html">경계매물</a>,</span> 
                      <span class="text_menu"><a href="w12-6.html">기세</a> </span><span class="text_menu"> 
                      <br>
                      <br>
                      </span><span class="small">[주문하기]</span><span class="text_menu"><br>
                      <a href="w1-9.html">주문방법</a>(<a href="hts.html">HTS</a>, 
                      <a href="ars.html">ARS 전화주문</a>), <a href="tradcost.html">주문비용</a><br>
                      <a href="w12-2.html">시장가주문 · 지정가주문 · 조건부 지정가주문 · 최유리 지정가주문 
                      · 최우선 지정가주문</a>, <a href="iocfoc.html">IOC조건과 FOC조건</a><br>
                      <a href="otlo.html">시간외 종가매매</a>, <a href="otso.html">시간외 
                      단일가매매</a><br>
                      <a href="buy.html">매수</a>, <a href="buyorde.html">매수주문</a>, 
                      <a href="sell.html">매도</a>, <a href="sellorde.html">매도주문</a>, 
                      <a href="givent.html"> 수도결제</a><a href="w1-85.html"></a> 
                      <br>
                      <br>
                      </span><span class="small">[매매 규칙]</span><span class="text_menu"> 
                      <br>
                      <a href="hoga.html"> 호가</a>, <a href="stime.html">동시호가</a>, 
                      <a href="sprice.html">단일가매매</a><br>
                      <a href="three.html">3일 결제제도</a>, <a href="misu.html">미수</a>, 
                      <a href="ban.html">반대매매</a>,<a href="w1-85.html">휴장일</a> 
                      <br>
                      <a href="circuit.html">서킷브레이커</a>, <a href="sidecar.html">사이드카</a></span><br>
                      <br>
                      <font size="5"  color="#595A5B">■ 주식시장</font> 
                    <p align="left" class="text_menu"><span class="small">[주가지수]</span><br>
                      <span class="text_menu"><a href="stockindex.html"> 주가지수<br>
                      </a><a href="kospi.html">코스피</a>(<a href="kospi200.html">KOSPI200</a></span><span class="text_menu">), 
                      <a href="kosdinde.html">코스닥지수</a> </span> 
                    <p align="left" class="text_menu"><span class="small">[주식 
                      수요]</span> <span class="text_menu"><a href="netpurchase.html"><br>
                      순매수</a>, <a href="accunp.html">누적순매수</a><a href="w12-11.html"><br>
                      </a><a href="w1-13.html">개미</a>(<a href="w1-17.html">고객예탁금</a>), 
                      <a href="w1-14.html">기관투자자</a>(<a href="w12-10.html">자산운용사</a>),<a href="w1-141.html">외국인투자자</a>(<a href="hotmoney.html">핫머니</a>, 
                      <a href="w1-15.html">헤지펀드</a>, <a href="w1-16.html">뮤추얼펀드</a>)<a href="w12-11.html"> 
                      <br>
                      주주의 권리와 책임</a> <br>
                      </span><br>
                      <span class="small">[주식 공급]</span><br>
                      <span class="text_menu"><a href="capital.html">자본</a>, <a href="capitalm.html">자본금</a><a href="w1-20.html"><br>
                      증자</a>(<a href="usang.html">유상증자</a>, <a href="musang.html">무상증자</a>), 
                      <a href="w1-18.html">공모</a>, <a href="w1-19.html"> 감자</a> 
                      </span> 
                    <p class="text_menu"> <span class="small">[증권시장]<br>
                      </span> <span class="text_menu"><a href="w12-12.html">증권시장</a></span><span class="text_menu"> 
                      : <a href="w12-13.html">발행시장</a>, <a href="w12-14.html">유통시장</a>(<a href="ugamark.html">유가증권시장</a>, 
                      <a href="kosdaq.html">코스닥시장</a>, <a href="sangjang.html">상장)</a><br>
                      <a href="stoccorp.html">증권회사</a><br>
                      <a href="w12-15.html">증권시장의 기능</a> : <a href="w12-16.html">안정적인 
                      산업자본의 조달(기업)</a>, <a href="w12-17.html">새로운 돈벌이 수단을 제공(가계)</a>, 
                      <a href="w12-18.html">경제 조정(정부)</a></span>
                    <p class="text_menu"> <span class="small">
                      [한국거래소]</span> <span class="text_menu"><a href="w12-19.html"><br>
                      한국선물거래소</a> : <a href="w12-20.html">상장심사</a>, <a href="w12-21.html">매매체결 
                      및 매매결과의 처리</a>, <a href="w12-22.html">기업내용 공시</a>, <a href="w12-23.html">주가감시 
                      및 심리</a>, <a href="w12-24.html">분쟁조정업무</a><br>
                      한국선물거래소의 매매대상물 : <a href="w12-25.html"> 유가증권</a> </span> 
                    <p><font size="5"  color="#595A5B">■ 종목선정</font></p>
                    <p class="text_menu"><span class="small">[종목선정] </span> <span class="text_menu"> 
                      <a href="w1-12.html"><br>
                      종목선정</a> </span>
                    <p class="text_menu"> <span class="small">[기본적분석]<br>
                      </span> <span class="text_menu"><a href="w2-1.html">기본적분석</a></span>
                    <p class="text_menu"> <span class="small"> [기업분석]</span> <span class="text_menu"><a href="w2-2.html"><br>
                      기업분석</a> </span>: <span class="text_menu"><a href="w2-3.html">양적분석</a>, 
                      <a href="w2-8.html">질적분석</a>(<a href="w2-9.html">회사의 연혁</a>, 
                      <a href="w2-10.html">회사의 사업내용</a>, <a href="w2-11.html">경영자의 
                      능력)</a></span> <span class="text_menu"> <br>
                      <br>
                      </span> <span class="small">[재무제표]<br>
                      </span> <span class="text_menu"><a href="w2-4.html">재무재표</a>, 
                      <a href="w2-41.html">연결재무제표와 개별재무제표</a>, <a href="kifrs.html">K-IFRS</a>, 
                      <a href="suspopin.html">감사의견</a>, <a href="w2-7.html">분식</a><a href="suspopin.html"></a></span><span class="text_menu"> 
                      <br>
                      <a href="loantabl.html">재무상태표</a> : <a href="liquasse.html">유동자산</a>(<a href="quicasse.html">당좌자산</a>, 
                      <a href="inveasse.html">재고자산</a>), <a href="noncasse.html">비유동자산</a>, 
                      <a href="currliab.html">유동부채</a>, <a href="noncliab.html">비유동부채</a>, 
                      <a href="capital.html"> 자본</a>, <a href="capitalm.html">자본금</a><a href="w1-20.html"></a>, 
                      <a href="equicapi.html">자기자본</a>, <a href="borrcapi.html">타인자본</a></span><span class="text_menu"><br>
                      <a href="earntabl.html">포괄손익계산서</a> : <a href="w2-34.html">영업이익</a>, 
                      <a href="ordiprof.html">경상이익</a></span>, <span class="text_menu"> 
                      <a href="netprofit.html">당기순이익</a></span> <span class="small"><br>
                      <br>
                      [투자지표] <br>
                      </span> <span class="text_menu"><a href="inveinde.html">투자지표</a></span> 
                      <span class="text_menu"><br>
                      <a href="profanal.html">수익성</a> : <a href="eps.html">EPS</a></span><span class="text_menu">, 
                      <a href="per.html">PER</a>, <a href="roe.html">ROE</a><br>
                      <a href="stabanal.html">안정성</a> : <a href="bps.html">BPS</a>, 
                      <a href="pbr.html">PBR</a>, <a href="w2-36.html">부채비율</a>, 
                      <a href="fluirati.html">유동비율</a><br>
                      <a href="growanal.html">성장성</a> :<a href="w2-28.html"> </a><a href="w2-33.html">매출액증가율</a><a href="w2-28.html"><br>
                      <br>
                      </a></span> <span class="small">[투자지표의 이용] </span> <span class="text_menu"><a href="w2-26.html"><br>
                      상대성원리</a>, <a href="w2-27.html"><br>
                      주식의 분류</a>(<a href="growstoc.html">성장주</a>, <a href="valustoc.html">가치주</a>, 
                      <a href="bss.html">경기순환주</a>, <a href="assestoc.html">자산주</a>, 
                      <a href="tas.html">전환주</a>)</span> <span class="text_menu"><a href="w2-40.html"><br>
                      </a><a href="w1-6s2.html">덩치에 따른 분류</a> : <a href="w1-6s1.html">대형주 
                      · 중형주 · 소형주</a> <a href="w2-40.html"> <br>
                      투지지표 조회 </a><br>
                      </span> <span class="small"><br>
                      [이론주가]</span> <span class="text_menu"><a href="w2-37.html"><br>
                      이론주가</a></span><span class="text_menu"> : <a href="w2-38.html">PER 
                      이용 </a>, <a href="w2-39.html">주당순이익 이용</a></span><span class="text_menu"> 
                      </span> <span class="small"><br>
                      <br>
                      [산업분석] </span> <span class="text_menu"><a href="w2-12.html"><br>
                      산업분석</a></span><span class="text_menu"> : <a href="w2-13.html">섬유</a>, 
                      <a href="w2-14.html">반도체</a>, <a href="w2-15.html">철강</a>, 
                      <a href="prindu.html">정유</a>, <a href="w2-16.html">석유화학</a>, 
                      <a href="shipbuilding.html">조선</a>, <a href="carindustry.html">자동차</a>, 
                      <a href="machineryindustry.html">기계</a></span><br>
                      <span class="small"><br>
                      [경제분석]</span> <span class="text_menu"><a href="w2-21.html"><br>
                      경제분석</a></span><span class="text_menu">, <a href="w2-25.html">경제신문읽기</a></span> 
                      <br>
                      <span class="text_menu"><a href="econjuga.html">경제지표와 개별 
                      종목 주가</a></span> 
                    <p></p>
                    <p class="text_menu"><font size="5"  color="#595A5B">■ 매매타이밍</font> 
                    <p></p>
                    <!-- #BeginLibraryItem "/Library/adsence-120.lbi" --><div style="margin-top:0px; padding-left:5px; float:right; width:120px; position: static;"> 
</div>
<!-- #EndLibraryItem --> 
                    <p class="text_menu"> <span class="small">[기술적분석] 
                      </span> <span class="text_menu"><a href="w3-1.html"><br>
                      기술적 분석</a></span><span class="text_menu"><br>
                      <a href="w3-2.html">그래프의 종류</a> : <a href="w3-3.html">선차트</a>, 
                      <a href="w-boncha.html">봉차트</a> </span>
                    <p align="left" style="LINE-HEIGHT: 100%" class="text"> <span class="small">[기술적 
                      분석의 종류]<br>
                      </span> <span class="text_menu"><a href="w3-28.html">기술적분석의 
                      종류</a> </span> 
                    </p>
                    <p><span class="small">[추세분석] <span class="text_menu"></span></span> 
                      <span class="text_menu"><a href="w3-5.html"><br>
                      추세분석</a> : <a href="w3-6.html">추세선</a>, <a href="w3-7.html">지지선과 
                      저항선</a>, <a href="ave.html"> 이동평균선</a></span> </p>
                    <p align="left" style="LINE-HEIGHT: 100%"> <span class="small">[패턴분석] 
                      </span> <span class="text_menu"><a href="w3-11.html"><br>
                      봉차트를 이용한 단기 주가예측 방법</a></span><span class="text_menu"><br>
                      <a href="w3-21.html">장기패턴분석</a> : 하락전환형(<a href="w3-22.html">삼중천정</a>) 
                      상승전환형(<a href="w3-23.html">삼중바닥형</a>)<br>
                      <a href="w3-24.html">패턴분석의 이용</a></span>
                    <p class="text_menu"> <span class="small">[패턴분석]</span> 
                      <span class="text_menu"> <a href="w3-25.html"><br>
                      지표분석</a> : <a href="w3-26.html">거래량</a>, <a href="w3-27.html">거래량의 
                      이용
                      </a></span> 
                    <p class="text_menu"> 
                    <span class="small">[경제와 
                      매매타이밍]<br>
                    </span>
                    <span class="text_menu"><a href="w2-22.html">경제와 주가</a> : <a href="gdprate.html">경제성장률과 
                    주가</a>, <a href="tecoi2.html">경기동행지수와 주가</a>, <a href="cli2.html">경기선행지수와 
                    주가</a>, <a href="cpisp.html">물가와 주가</a>, <a href="w2-24.html">금리와 
                    주가</a>, <a href="w2-23.html"> 환율과 주가</a><br>
                    <br>
                    </span><span class="small">[시장과 매매타이밍]</span><span class="text_menu"><br>
                      <a href="tulip.html">튤립투기</a>, <a href="misu.html">미수</a>(<a href="misudg.html">미수동결제도</a>, 
                      <a href="ban.html">반대매매</a>), <a href="w4-1.html">신용거래</a>, 
                      <a href="credsp.html">신용거래와 주가</a></span> 
                    <p></p>
                    <p><font size="5"  color="#595A5B">■ 
                      선물옵션</font><p>
					<p class="text_menu"> <span class="small">[선물] </span> <span class="text_menu"> 
                      <a href="nowtrad.html"><br>
                      현물</a>, <a href="future.html">선물</a>(<a href="futupric.html">선물가격</a>)<br>
                      <br>
                      </span> <span class="small">[주가지수 선물] </span> <span class="text_menu"> 
                      <a href="jugafutu.html"><br>
                      주가지수선물</a>, : <a href="futubuy.html">선물매수</a>, <a href="futusell.html">선물매도</a>, 
                      <a href="settleme.html">청산</a>(<a href="sellsett.html">매도청산</a>,<a href="buysett.html"> 
                      매수청산</a>)<br>
                      매매규칙 : <a href="jfitem.html">거래종목</a>, <a href="jfpu.html">호가단위</a><br>
                      <br>
                      </span><span class="text_menu"> </span> <span class="small">[옵션] 
                      </span> <span class="text_menu"><a href="option.html"><br>
                      옵션</a>, <a href="callopti.html">콜옵션</a>(<a href="coinve.html">콜옵션투자</a>), 
                      <a href="putopti.html">풋옵션</a><br>
                      <br>
                      </span> <span class="small">[주가지수 옵션]<br>
                      </span> <span class="text_menu"><a href="option.html">옵션</a>, 
                      <a href="callopti.html">콜옵션</a>(<a href="coinve.html">콜옵션투자</a>), 
                      <a href="putopti.html">풋옵션</a>, <a href="jugaopti.html"><br>
                      주가지수옵션</a>(<a href="jcinve.html">주가지수 콜옵션투자</a>, <a href="jpinve.html">주가지수 
                      풋옵션투자</a>)</span><span class="text_menu"><br>
                      <br>
                      </span> <span class="small">[기타 옵션] </span> <span class="text_menu"><a href="indiopti.html">개별옵션</a>, 
                      <a href="kiko.html">키코</a> <br>
                      </span><span class="text_menu"> <br>
                      </span><span class="small">[선물옵션투자]</span><span class="text_menu"><br>
                      <a href="foacco.html">선물옵션 계좌</a>, <a href="custmarg.html">위탁증거금</a>, 
                      <a href="starmarg.html">개시증거금</a>, <a href="mainmarg.html">유지증거금</a>, 
                      <a href="mtm.html">일일정산</a><br>
                      <a href="foinve.html">선물옵션투자</a><br>
                      <br>
                      </span> <span class="small">[프로그램매매]<br>
                      </span> <span class="text_menu"><a href="theopric.html">선물이론가격</a><br>
                      <a href="basis.html">베이시스</a>(<a href="markbasi.html">시장베이시스</a>, 
                      <a href="theobasi.html">이론베이시스</a>), <a href="contango.html">콘탱고</a>, 
                      <a href="backward.html">백워데이션</a>, <a href="overfutu.html">선물 
                      고평가</a>, <a href="undefutu.html">선물 저평가</a>, <a href="disprati.html">괴리율</a><a href="progtrad.html"><br>
                      프로그램매매</a> </span> 
                    <p class="text_menu"><font size="5"  color="#595A5B">■ 실전투자</font>
                    <p class="text_menu"><span class="small">[상향식투자와 하향식투자]<br>
                      </span> <span class="text_menu"><a href="bottup.html">상향식투자</a>, 
                      <a href="topdown.html">하향식투자</a></span>
                    <p class="text_menu"><span class="small">[모의투자]</span><br>
                      <span class="text_menu"><a href="w4-5.html">모의투자</a>(<a href="scsi.html">모의투자하는 
                      방법</a>, <a href="10simu.html">10년의 모의투자</a>), <a href="w4-7.html">투자관을 
                      갖자</a></span> <span class="text_menu"><a href="w4-8.html"><br>
                      찍기</a>, <a href="w4-9.html">워렌버펫의 투자방법 </a>
                      </span> 
                    <p class="text_menu"> <span class="small"> [특이한 투자]</span> 
                      <span class="text_menu"><a href="w4-1.html"><br>
                      신용투자</a>, <a href="nosell.html">공매도</a>, <a href="w4-2.html">대주투자 
                      </a> , <a href="w4-3.html">작전</a>, <a href="w4-4.html">내부자거래</a></span> 
                    <p class="text_menu"> <span class="small">[실전투자 예시]</span> 
                      <span class="text_menu"><a href="stockdown.html"><br>
                      주가하락이 예상될 때의 주식투자방법</a></span><span class="text_menu"><br>
                      <a href="leverageetf.html">간이 좀 크다고 자타가 인정할 때의 주식투자방법</a> 
                      <br>
                      <a href="indexetf.html">코스피를 귀신같이 맞추는 분들의 주식투자방법</a> <br>
                      <a href="candlemethod.html">캔들차트를 이용한 주식투자방법</a><br>
                      <a href="investindex.html">투자지표를 이용한 주식투자방법</a></span><br>
                    <!-- #BeginLibraryItem "/Library/google-menu.lbi" --><table width="75%" border="0" align="center">
                      <tr>
                        <td height="1"></td>
                      </tr>
                      <tr> 
                        <td>
					  </td>
                      </tr>
					                    </table>
					<!-- #EndLibraryItem -->
<p></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
            
      <!-- #BeginLibraryItem "/Library/bottum.lbi" -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
                    
    <td> 
      <hr size="1"
                         width="100%" noshade>
      <br>
                        <center>
       
         
        <div align="center"><font style="FONT-SIZE: 9pt" face="굴림">Copyright ⓒ 
          [경제신문읽는법] All Rights Reserved.<br>
          <a href="mailto:till000@hanmail.net"><font color="#000000">홈지기 이메일 : till000@hanmail.net</font></a>, 
		  <a href="http://ecodemy.cafe24.com/m/"><font color="#000000">[모바일 버전]</font></a></font></div>
      </center></td>
                </tr>
            </table>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26767682-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script><!-- #EndLibraryItem --></td>
    </tr>
</table>
<p>&nbsp;</p>
</body>

</html>