<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">


<html>

<head>
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0", maximum-scale=1.0, minimum-scale=1.0" />
<meta charset="euc-kr" />

<meta http-equiv="content-type" content="text/html; charset=ksc5601">

<title>[경제신문읽는법] - 증권이란?</title>
<meta name="keywords" content="증권">


<style type="text/css">

<!--

   A:link    { text-decoration:none;   color:black}

   A:visited { text-decoration:none;   color:pupple}

   A:hover   { text-decoration:underline;  Color:blue}

   A:active  { text-decoration:none; Color:black}

  

-->

</style>

<link rel="stylesheet" href="hyun.css" type="text/css">
</head>



<body bgcolor="white" text="black" link="blue" vlink="purple" alink="purple" leftMargin=0 
topMargin=0 marginheight="0" marginwidth="0">



<table border="0" cellpadding="0" cellspacing="0" width="755">

    <tr>

        
    <td width="964"><!-- #BeginLibraryItem "/Library/up.lbi" -->
<table border="0" cellpadding="0" width="100%">
  <tr>
                    <td width="369">
					<a href="main.html" onfocus="this.blur()"><img src="logo.gif"
                         width="270" height="59" border="0"></a> 
    </td>
                    
    <td width="369" valign="top" align="right">

	</td>
                </tr>
            </table><!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/mebu.lbi" --><table width="780" border="0" cellpadding="0" cellspacing="0" height="26">
  <tr> 

    <td height="31"> <img src="top_menu.jpg" width="780" height="31"
 border="0" usemap="#ImageMap1"> 
      <map name="ImageMap1"> 
        <area shape="rect" coords="9,0,51,30" href="m_see.html" onfocus="this.blur()">
        <area shape="rect" coords="61,1,101,30" href="m_situ.html" onfocus="this.blur()">
        <area shape="rect" coords="114,2,155,30" href="m_price.html" onfocus="this.blur()">
        <area shape="rect" coords="166,-1,212,30" href="m_mone.html" onfocus="this.blur()">
        <area shape="rect" coords="220,1,258,30" href="m_forex.html" onfocus="this.blur()">
        <area shape="rect" coords="275,0,345,30" href="m_inter.html" onfocus="this.blur()">
        <area shape="rect" coords="361,1,429,30" href="m_goven.html" onfocus="this.blur()">
        <area shape="rect" coords="445,-11,543,30" href="m_monet.html" onfocus="this.blur()">
        <area shape="rect" coords="550, 2, 596, 30" href="m_stock.html" onfocus="this.blur()">
<area shape="rect" coords="604, 2, 650, 30" href="m_fund.html" onfocus="this.blur()">
        <area shape="rect" coords="659,2,767,30" href="m_indicators.html" onfocus="this.blur()">
</map>
</td>

  </tr>
</table><!-- #EndLibraryItem --><table border="0" cellpadding="0" cellspacing="0" width="755" height="5">
                <tr>
                    <td width="745" height="5"></td>

                </tr>

            </table>

            <div align="right"><table border="0" cellpadding="0" cellspacing="0"

             width="100%">

                <tr>

                    <td width="119"  valign="top">
              <div align="right"><!-- #BeginLibraryItem "/Library/left.lbi" --><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top"   height="354"  align="left" ><table border="0" cellpadding="0" cellspacing="0" width="120">
<form action="/_search.php" method="get" id="os_search">
    <tr>
        <td width="964">


        <table border=0 cellpadding="0" cellspacing="0"
             width="120">
        
                                  <td width="112" align="center"> 
                                    
                    <div align="left"><img src="left-s1.gif" width="130" height="23"></div> 
                  </td>
             
                <tr>
                    
            <td  height="13"> 
              <div align="center">
                 <input type="text"class="text_form" name="q" size="15"> 
              </div>
            </td>
			</tr>
			<tr>
			<td height=3></td>
           
            </table>    
                              <div align="right"></div>
                            </td>
    </tr></form>
</table>

     
            <table cellspacing=0 cellpadding=0 width="64%">
        <tbody> 
        <tr> 
          <td height="27" valign="bottom"> 
            <img src="left-s5.gif" width="130" height="23">
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_see.html"><font color="black" face=굴림>경제상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_situ.html"><font color="black" face=굴림>경기상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_price.html"><font color="black" face=굴림>물가상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_mone.html"><font 
                        color=black face=굴림>금리상식</font></a></span> </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_forex.html"><font color="black" face=굴림>환율상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_inter.html"><font color="black" face=굴림>세계경제상식</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <a href="m_goven.html"><img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><font color="black" face=굴림>경제정책상식</font></span></a> 
          </td>
        </tr>
		  <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_monet.html"><font color="black" face=굴림>재테크상식</font></a></span></td>
        </tr>
        <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_stock.html"><font color="black" face=굴림>주식상식</font></a></span> 
          </td>
        </tr>
        		 <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_fund.html"><font color="black" face=굴림>펀드상식</font></a></span> 
          </td>
        </tr>
		 <tr> 
          <td valign=bottom height=19> <img height=8 
                        src="left-dot.gif" width=8 align=absMiddle 
                        border=0><span style="FONT-SIZE: 9pt"><a 
                        href="m_indicators.html"><font color="black" face=굴림>최근경제지표</font></a></span> 
          </td>
        </tr>
        <tr> 
          <td valign=bottom height=19>&nbsp; </td>
        </tbody> 
      </table>
                    </td>
                  </tr>
                </table><!-- #EndLibraryItem --></div>

                        </td>

                    <td width="13"  valign="top"><p>&nbsp;</td>

                    
            <td width="622"  valign="top" align="left"> <font size="5"  color="#595A5B">■ 
              증권이란?</font> 
              <p class="text"><span class="text">증권이란 
                '권리를 증명한 종이 쪼가리'를 줄일 말입니다. 이러한 증권에는 무가증권과 유가증권이 있습니다. </span></p>
              <p class="text">무가증권이란 가치가 없는 증권을 줄인 말이고,<a href="uga.html" class="unlineblack"><span class="underline"> 
                </span><span class="unlineblack"><u>유가증권</u></span></a>이란 가치가 있는 증권을 
                줄인 말입니다. 즉, 돈으로서의 가치가 있는 종이 쪼가리를 말합니다. </p>
              <p> </p>
              <p class="text">유가증권의 대표적인 예로는 <a href="stock.html"><span class="unlineblack"><u>주식</u></span></a>과 
                <a href="bond.html"> <span class="unlineblack"> <u>채권</u></span></a>이 
                있습니다.</p>
              <p> </p>
              <p class="text">증권 - 유가증권 : 예) 주식, 채권<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 무가증권 : 예) 친구끼리 
                약속하고, 약속 어기면 꿀밤 100방 얻어 터지기로 한 서약서... </p>
              <p></p><!-- #BeginLibraryItem "/Library/google adsense.lbi" --><table width="468" border="0" align="center">
  <tr> 
    <td height="10">
	</td>
  </tr>
  <tr> 
    <td align="center">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ecodemy_bottom_468 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px"
     data-ad-client="ca-pub-8643025518098866"
     data-ad-slot="5191121445"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
					</td>
  </tr>
</table>
<!-- #EndLibraryItem --></td>

                </tr>

            </table></div>

            <!-- #BeginLibraryItem "/Library/bottum.lbi" -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
                    
    <td> 
      <hr size="1"
                         width="100%" noshade>
      <br>
                        <center>
       
         
        <div align="center"><font style="FONT-SIZE: 9pt" face="굴림">Copyright ⓒ 
          [경제신문읽는법] All Rights Reserved.<br>
          <a href="mailto:till000@hanmail.net"><font color="#000000">홈지기 이메일 : till000@hanmail.net</font></a>, 
		  <a href="http://ecodemy.cafe24.com/m/"><font color="#000000">[모바일 버전]</font></a></font></div>
      </center></td>
                </tr>
            </table>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26767682-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script><!-- #EndLibraryItem --><p>&nbsp;</td>

    </tr>

</table>

<p>&nbsp;</p>

</body>



</html>